<!-- Módulo imagen texto grande  -->
<div class="mod-img-texto-grande">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="removeFromHere mod-imagen dashed" data-button="borrar mover" style="margin-bottom: 20px; max-width:590px;">
        <tbody>
            <tr>
                <td style="" valign="top">
                    <div contenteditable="true" class="contenteditable image" data-maxWidth="590" data-maxHeight="160">
                        <img id="edit-image-trigger" src="<%= BACKEND_URL %>/placeholder/s/590x160" style="max-width: 590px;" class="headerImage" alt="">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>



    <table id="edit-content-trigger" width="100%" cellpadding="0" cellspacing="0" border="0" align="left" class="removeFromHere mod-texto dashed content-text-align" data-button="borrar mover" style="margin-bottom: 10px;font-size: inhertit; color:inherit;line-height: 1em;">
        <tbody>
            <tr>
                <td valign="top" class="content-text-align">
                    <div contenteditable="false" class="contenteditable">
                        <span class="content-title-color general-font-family content-font-family i18n" style="font-family:inherit;font-size: 32px; color: #393939;line-height: 1.15em;" data-i18n="TEMPLATES.MODULES.TXT_TITLE_1"></span>
                        <br />
                        <p class="content-text-color general-font-family content-font-family i18n" style="font-family:inherit;font-size: inherit; color:#000000; text-align:inherit;line-height: 1.2em;" data-i18n="TEMPLATES.MODULES.TXT_BEGIN_AND_CUSTUMIZE"></p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>         
</div>
<!-- FIN Módulo imagen texto grande  -->

<!-- Módulo galeria tres columnas -->
<div class="mod-galeria-tres-col">
        <table class="dashed cont removeFromHere movable" data-button="borrar mover"  id="templateColumns"  width="100%" cellpadding="0" cellspacing="0" border="0" align="left">
            <tr>
                <td width="32%" class="templateColumnContainer" >
                    <div style="width: 100%; float:left; vertical-align: top; display: inline-block; *display: inline; zoom: 1;">
                        <div contenteditable="true" class="contenteditable image" data-maxWidth="197" data-maxHeight="100">
                            <img src="<%= BACKEND_URL %>/placeholder/s/197x100" style="max-width: 197px; margin-bottom: 10px;" alt="" class="columnImage">
                        </div>
                        <div contenteditable="false" class="contenteditable">
                            <div class="gallery-title-color general-font-family gallery-font-family i18n" style="font-family:inherit;font-size: 14px; color:  #393939;line-height: 1.15em;" data-i18n="TEMPLATES.MODULES.TXT_TITLE_1"></div>
                            <p class="gallery-text-color general-font-family gallery-font-family i18n" style="font-family:inherit;font-size: inherit; color:#000000; text-align:inherit;line-height: 1.2em; width: 160px;" data-i18n="TEMPLATES.MODULES.TXT_INSERT_TEXT"></p>
                        </div>
                    </div>
                </td>
                <td class="templateColumnContainer" style="width: 2%; max-width: 4px;">&nbsp;</td>
                <td width="32%" class="templateColumnContainer" >
                    <div style="width: 100%; float:left; vertical-align: top; display: inline-block; *display: inline; zoom: 1;">
                        <div contenteditable="true" class="contenteditable image" data-maxWidth="197" data-maxHeight="100">
                            <img src="<%= BACKEND_URL %>/placeholder/s/197x100" style="max-width: 197px; margin-bottom: 10px;" alt="" class="columnImage">
                        </div>
                        <div contenteditable="false" class="contenteditable">
                            <div class="gallery-title-color general-font-family gallery-font-family i18n" style="font-family:inherit;font-size: 14px; color:  #393939;line-height: 1.15em;" data-i18n="TEMPLATES.MODULES.TXT_TITLE_1"></div>
                            <p class="gallery-text-color general-font-family gallery-font-family i18n" style="font-family:inherit;font-size: inherit; color:#000000; text-align:inherit;line-height: 1.2em; width: 160px;" data-i18n="TEMPLATES.MODULES.TXT_INSERT_TEXT"></p>
                        </div>
                    </div>
                </td>
                <td class="templateColumnContainer" style="width: 2%; max-width: 4px;">&nbsp;</td>
                <td width="32%" class="templateColumnContainer" >
                    <div style="width: 100%; float:left; vertical-align: top; display: inline-block; *display: inline; zoom: 1;">
                        <div contenteditable="false" class="contenteditable image" data-maxWidth="197" data-maxHeight="100">
                            <img src="<%= BACKEND_URL %>/placeholder/s/197x100" style="max-width: 197px; margin-bottom: 10px;" alt="" class="columnImage">
                        </div>
                        <div contenteditable="true" class="contenteditable">
                            <div class="gallery-title-color general-font-family gallery-font-family i18n" style="font-family:inherit;font-size: 14px; color:  #393939;line-height: 1.15em;" data-i18n="TEMPLATES.MODULES.TXT_TITLE_1"></div>
                            <p class="gallery-text-color general-font-family gallery-font-family i18n" style="font-family:inherit;font-size: inherit; color:#000000; text-align:inherit;line-height: 1.2em; width: 160px;" data-i18n="TEMPLATES.MODULES.TXT_INSERT_TEXT"></p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
</div>
<!-- FIN Módulo galeria tres columnas  -->
<!-- Módulo de los botones de redes sociales que van en la creatividad -->
<div id="socialButtonTemplateContainer">
    <table>
        <tr>
            <td id="facebook-ButtonTemplate" class="socialNetwork" style="text-align: center;">
                <div style="float: left; margin-right: 10px; margin-bottom: 10px;">
                    <div>
                        <img class="social-icon" src="<%=iconSetUrl %>/ico-fb.png" alt="Facebook" style="max-width: 48px; max-height: 48px;">
                    </div>
                    <div style="float: left; padding-top: 6px; text-align: left; padding-left: 4px;">
                        <a id="facebook-url" href="#" target="_blank" class="general-font-family-general social-font-family social-font-size social-link-color"
                           style="text-decoration: none; color: #393939; font-size: 14px;">Facebook</a>
                    </div>
                </div>
            </td>
            <td id="twitter-ButtonTemplate" class="socialNetwork" style="text-align: center;">
                <div style="float: left; margin-right: 10px; margin-bottom: 10px;">
                    <div>
                        <img class="social-icon" src="<%=iconSetUrl %>/ico-tw.png" alt="Twitter" style="max-width: 48px; max-height: 48px;">
                    </div>
                    <div style="float: left; padding-top: 6px; text-align: left; padding-left: 4px;">
                        <a id="twitter-url" href="#" target="_blank" class="general-font-family-general social-font-family social-font-size social-link-color"
                           style="text-decoration: none; color: #393939; font-size: 14px;">Twitter</a>
                    </div>
                </div>
            </td>
            <td id="linkedin-ButtonTemplate" class="socialNetwork" style="text-align: center;">
                <div style="float: left; margin-right: 10px; margin-bottom: 10px;">
                    <div class="x-logo">
                        <img class="social-icon" src="<%=iconSetUrl %>/ico-in.png" alt="Linkedin" style="max-width: 48px; max-height: 48px;">
                    </div>
                    <div style="float: left; padding-top: 6px; text-align: left; padding-left: 4px;">
                        <a id="linkedin-url" href="#" target="_blank" class="general-font-family-general social-font-family social-font-size social-link-color"
                           style="text-decoration: none; color: #393939; font-size: 14px;">Linkedin</a>
                    </div>
                </div>
            </td>
            <td id="pinterest-ButtonTemplate" class="socialNetwork" style="text-align: center;">
                <div style="float: left; margin-right: 10px; margin-bottom: 10px;">
                    <div class="x-logo">
                        <img class="social-icon" src="<%=iconSetUrl %>/ico-pin.png" alt="Pinterest" style="max-width: 48px; max-height: 48px;">
                    </div>
                    <div style="float: left; padding-top: 6px; text-align: left; padding-left: 4px;">
                        <a id="pinterest-url" href="#" target="_blank" class="general-font-family-general social-font-family social-font-size social-link-color"
                           style="text-decoration: none; color: #393939; font-size: 14px;">Pinterest</a>
                    </div>
                </div>
            </td>
            <td id="youtube-ButtonTemplate" class="socialNetwork" style="text-align: center;">
                <div style="float: left; margin-right: 10px; margin-bottom: 10px;">
                    <div class="x-logo">
                        <img class="social-icon" src="<%=iconSetUrl %>/ico-yt.png" alt="Youtube" style="max-width: 48px; max-height: 48px;">
                    </div>
                    <div style="float: left; padding-top: 6px; text-align: left; padding-left: 4px;">
                        <a id="youtube-url" href="#" target="_blank" class="general-font-family-general social-font-family social-font-size social-link-color"
                           style="text-decoration: none; color: #393939; font-size: 14px;">Youtube</a>
                    </div>
                </div>
            </td>
            <td id="googleplus-ButtonTemplate" class="socialNetwork" style="text-align: center;">
                <div style="float: left; margin-right: 10px; margin-bottom: 10px;">
                    <div class="x-logo">
                        <img class="social-icon" src="<%=iconSetUrl %>/ico-gplus.png" alt="Google Plus" style="max-width: 48px; max-height: 48px;">
                    </div>
                    <div style="float: left; padding-top: 6px; text-align: left; padding-left: 4px;">
                        <a id="googleplus-url" href="#" target="_blank" class="general-font-family-general social-font-family social-font-size social-link-color"
                           style="text-decoration: none; color: #393939; font-size: 14px;">Google +</a>
                    </div>
                </div>
            </td>
            <td id="vimeo-ButtonTemplate" class="socialNetwork" style="text-align: center;">
                <div style="float: left; margin-right: 10px; margin-bottom: 10px;">
                    <div class="x-logo">
                        <img class="social-icon" src="<%=iconSetUrl %>/ico-vimeo.png" alt="Vimeo" style="max-width: 48px; max-height: 48px;">
                    </div>
                    <div style="float: left; padding-top: 6px; text-align: left; padding-left: 4px;">
                        <a id="vimeo-url" href="#" target="_blank" class="general-font-family-general social-font-family social-font-size social-link-color"
                           style="text-decoration: none; color: #393939; font-size: 14px;">Vimeo</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- FIN Módulo de los botones de redes sociales que van en la creatividad -->
